appdirs
packaging
asgiref
requests
googlesearch-python
fake_useragent
fastapi 
black
certifi
charset-normalizer
click
colorama
h11
idna
mypy-extensions
pathspec
pydantic
regex
starlette
tomli
typing-extensions
urllib3
uvicorn
requests_html
gunicorn